doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Config &#38; Audit
    link(href='bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
  body.container
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand(href='/t1') Config &#38; Audit
      ul.nav.navbar-nav
        li
          a(href='/')
            | Home
            span.glyphicon.glyphicon-home
    #page1.page
      .row.margin-bottom
        .col-xs-12
          .row
            ul.nav.nav-tabs
              li.active
                a(href='#ips', data-toggle='tab')
                  span#ipCount.badge.pull-right 0
                  | IPs / Hostnames
              li
                a(href='#cli', data-toggle='tab')
                  span#cliCount.badge.pull-right 0
                  | Commands
              li
                a(href='#settings', data-toggle='tab') Settings
            // Tab panes
            .tab-content
              #ips.tab-pane.fade.in.active.text-center
                label.padding-top.text-danger
                .margin-top.shadow.textarea
                  .text-center
                    textarea.form-control.center(name='ips', spellcheck='false', placeholder='IP addresses or hostnames separated by new line')
              #cli.tab-pane.fade.text-center
                label.padding-top.text-danger
                .margin-top.shadow.textarea
                  textarea.form-control.center(name='clis', spellcheck='false', placeholder='Commands separated by new line')
              #settings.tab-pane.fade
                .margin-top.text-center
                  .wrapper
                    label.margin-bottom.control-label.inline Device connection type:
                    .inline
                      .radio-inline
                        label
                          input(type='radio', name='connectionMode', value='ssh', checked='checked')
                          | SSH
                    .inline
                      .radio-inline
                        label
                          input(type='radio', name='connectionMode', value='telnet')
                          | Telnet
                  br
                  label
                    span#connectionOutput.badge.pull-right 1
                    | Number of connections:
                  .shadow.text.center.margin-bottom
                    input#connectionInput.form-control.margin-bottom(type='range', name='connectionInput', min='1', max='30', step='1', value='1')
                  br
                  .text-center
                    label
                      input#proxyMode.mycheckbox(type='checkbox', name='proxyMode', value='0')
                      span#mySpan Server Proxy
                  #proxySettings
                    .text.center
                      #ipValidate.form-group.margin-bottom
                        label.control-label
                        .text-center.shadow
                          input#serverIP.form-control(type='text', name='serverIP', placeholder='Server IP / Hostname', disabled='true')
                        span
                    .text.center
                      #userValidate.form-group.margin-bottom
                        label.control-label
                        .text-center.shadow
                          input#serverUsername.form-control(type='text', name='serverUsername', placeholder='Server Username', disabled='true')
                        span
                    .text.center
                      #passwordValidate.form-group.margin-bottom
                        label.control-label
                        .text-center.shadow
                          input#serverPassword.form-control(type='password', name='serverPassword', placeholder='Server Password', disabled='true')
                        span
                  br
                  .text.center.row.padding-bottom
                    .col-xs-5
                      .wrapper
                        label.inline PromptTimeout (in seconds)
                        .shadow.inline
                          input#promptTimeout.form-control.small-text(type='text', name='promptTimeout', value='10', maxlength='3')
                  .text.center.row.padding-bottom
                    .col-xs-5
                      .wrapper
                        label.inline EnableTimeout (in seconds)
                        .shadow.inline
                          input#EnPromptTimeout.form-control.small-text(type='text', name='EnPromptTimeout', value='10', maxlength='3')
      br
      .row
        .col-xs-12
          button#nextButton.btn.btn-sm.btn-default.center.shadow(type='button') Next
    #page2.page(hidden='')
      .row.margin-bottom
        .margin-bottom
          legend More Device Settings
      #devDetails.shadow.row
      .row.margin-top
        .col-xs-12
          .text-center
            .btn-group.shadow
              button#backButton.btn.btn-default.btn-sm(type='button')
                b Back
              button#startButton.btn.btn-default.btn-sm(type='button')
                b Start
              button#clearAllButton.btn.btn-default.btn-sm(type='button')
                b Clear All
    #page3.page(hidden='')
      .row.margin-bottom
        legend Results
      .row
        #loader
          .txt
            | Running ...
          .spin.a
          .spin.b
      .row.margin-top
        #result.text-center(hidden='')
          p
            | Total Number of Devices:
            span#totalDevices 0
          p
            | Completed:
            span#completed 0
          p
            #progressBar.progress.progress-striped.active.shadow
              .progress-bar
                span#percentageCompleted 50%
    .row
      label#errorMessage.padding-top.text-danger
  script(src='jquery/dist/jquery.js ')
  script(src='bootstrap/dist/js/bootstrap.js ')
  script(src='/socket.io/socket.io.js ')
  script(src='javascripts/functions.js ')
