doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Config &#38; Audit
    link(href='bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
  body.container
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand(href='/t1.html') Config &#38; Audit
      ul.nav.navbar-nav
        li
          a(href='/')
            | Home
            span.glyphicon.glyphicon-home
    #page1.page
      .row.margin-bottom
        .col-xs-5
          .row
            ul.nav.nav-tabs
              li.active
                a(href='#ips', data-toggle='tab')
                  span#ipCount.badge.pull-right 0
                  | IPs / Hostnames
              li
                a(href='#cli', data-toggle='tab')
                  span#cliCount.badge.pull-right 0
                  | Commands
              li
                a(href='#settings', data-toggle='tab') Settings
            // Tab panes
            .tab-content
              #ips.tab-pane.fade.in.active
                label.padding-top.text-danger
                .margin-top.shadow
                  textarea.form-control(name='ips', spellcheck='false', placeholder='IP addresses or hostnames separated by new line')
              #cli.tab-pane.fade
                label.padding-top.text-danger
                .margin-top.shadow
                  textarea.form-control(name='clis', spellcheck='false', placeholder='Commands separated by new line')
              #settings.tab-pane.fade
                .margin-top
                  label.margin-bottom.control-label Device connection type:
                  br
                  .radio-inline.margin-bottom
                    label
                      input(type='radio', name='connectionMode', value='ssh', checked='checked')
                      | SSH
                  .radio-inline.margin-bottom
                    label
                      input(type='radio', name='connectionMode', value='telnet')
                      | Telnet
                  br
                  label
                    span#connectionOutput.badge.pull-right 1
                    | Number of connections:
                  .shadow
                    input#connectionInput.form-control(type='range', name='connectionInput', min='1', max='30', step='1', value='1')
                  br
                  .checkbox
                    label
                      input#proxyMode(type='checkbox')
                      | Server Proxy
                  #proxySettings
                    #ipValidate.form-group.margin-bottom.text
                      label.control-label
                      .shadow
                        input#serverIP.form-control(type='text', name='serverIP', placeholder='Server IP / Hostname', disabled='true')
                      span
                    #userValidate.form-group.margin-bottom.text
                      label.control-label
                      .shadow
                        input#serverUsername.form-control(type='text', name='username', placeholder='Server Username', disabled='true')
                      span
                    #passwordValidate.form-group.margin-bottom.text
                      label.control-label
                      .shadow
                        input#serverPassword.form-control(type='password', name='password', placeholder='Server Password', disabled='true')
                      span
      br
      .row
        .col-xs-5
          button#nextButton.btn.btn-default.center.shadow(type='button') Next
      .row
        label#errorMessage.padding-top.text-danger
    #page2.page(hidden='')
      .row.margin-bottom
        .margin-bottom
          legend More Device Settings
      #devDetails.shadow.row
      .row.margin-top
        .col-xs-12
          .text-center
            .btn-group.shadow
              button#backButton.btn.btn-default.btn-sm(type='button')
                b Back
              button#startButton.btn.btn-default.btn-sm(type='button')
                b Start
              button#clearAllButton.btn.btn-default.btn-sm(type='button')
                b Clear All
    #page3.page(hidden='')
      .row.margin-bottom
        legend Results
      .row
        #loader
          .txt
            | Running ...
          .spin.a
          .spin.b
      #result.row.margin-top
  script(src='jquery/dist/jquery.js')
  script(src='bootstrap/dist/js/bootstrap.js')
  script(src='javascripts/functions.js')
  script(src='/socket.io/socket.io.js')
